.header {
	max-width: 100%;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 24px 165px 24px 165px;

		@include mobile-only {
			max-width: 320px;
			margin: 16px auto;
		}

		@include tablet-only {
			max-width: 690px;
			margin: 16px auto;
		}

	}

	&__logo {
		font-weight: 800;
		font-size: 90px;
	}

	&__button {
		line-height: 56px;
		padding-right: 31px;
		padding-left: 31px;

		@include mobile-only {
			padding-right: 24px;
			padding-left: 24px;
		}

		@include tablet-only {
			padding-right: 24px;
			padding-left: 24px;
		}
	}
}